body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  background: linear-gradient(135deg, hsl(287, 77%, 44%), hsl(281, 67%, 50%));
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.app-container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
  margin-top: 80px;
  transform: scale(1.45);  
  transform-origin: top center;
}

/* TITLE */
.title {
  font-size: 70px;
  color: white;
  font-weight: 700;
  margin-bottom: 40px;
}

/* SEARCH BAR */
.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-input {
  width: 500px;
  padding: 22px;
  border-radius: 15px;
  border: none;
  font-size: 24px;
}

.search-btn {
  padding: 22px 36px;
  background: #470586;
  border: none;
  border-radius: 15px;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.search-btn:hover {
  background: #e042c8;
}

/* WEATHER CARD  */
.weather-card {
  width: 90%;
  max-width: 950px;
  padding: 70px;

  margin: 60px auto 0 auto;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
  border-radius: 30px;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.35);
}

/* Title inside card */
.city-name {
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 15px;
}

/* Weather icon */
.weather-icon {
  width: 180px;
  margin: 20px 0;
}

/* Temperature */
.temperature {
  font-size: 110px;
  font-weight: 700;
  margin: 10px 0;
}

/* Condition text */
.description {
  font-size: 32px;
  margin-bottom: 30px;
}

/* Weather Details */
.weather-details p {
  font-size: 28px;
  margin: 10px 0;
}

/* Error message */
.error {
  font-size: 28px;
  color: hsl(0, 100%, 1%);
}
