body {
  margin: 0;
  font-family: "Poppins", sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 100vh;
  padding: 0;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

.app-container {
  width: 100%;
  max-width: 1100px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  transform: scale(1.2); 
}


.title {
  font-size: 64px;
  font-weight: 700;
  margin-bottom: 10px;
}


.search-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.search-input {
  width: 420px;
  padding: 20px;
  font-size: 22px;
  border-radius: 14px;
  border: none;
  outline: none;
}

.search-btn {
  padding: 20px 36px;
  background: #0b234a;
  border: none;
  border-radius: 14px;
  color: white;
  font-size: 22px;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:hover {
  background: #123b7a;
}


.weather-card {
  width: 85%;
  max-width: 850px;  
  padding: 60px;

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(18px);
  border-radius: 25px;
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.3);

  animation: fadeIn 0.6s ease-in-out;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0); }
}


.city-name {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.weather-icon {
  width: 160px;
  height: auto;
  margin: 20px 0;
}

.temperature {
  font-size: 96px;  
  font-weight: 700;
  margin: 10px 0;
}

.description {
  font-size: 30px;
  opacity: 0.9;
  margin-bottom: 20px;
}


.weather-details p {
  font-size: 24px;
  margin: 8px 0;
}


.error {
  color: #ff6b6b;
  font-size: 22px;
  margin-top: 10px;
}
