/* GENERAL */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #1e3c72, #2a5298);
  color: white;
}

.app-container {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding: 40px 20px;
}

.title {
  font-size: 42px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* SEARCH BAR */
.search-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 25px;
}

.search-input {
  width: 350px;
  padding: 16px;
  border-radius: 10px;
  border: none;
  font-size: 18px;
}

.search-btn {
  padding: 16px 28px;
  background: #0b234a;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.search-btn:hover {
  background: #123b7a;
}


.weather-card {
  width: 90%;
  max-width: 600px;
  margin: 30px auto;
  padding: 40px;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(14px);
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.4);
}



.weather-main {
  margin-bottom: 20px;
}

.city-name {
  margin: 0;
  font-weight: 600;
  font-size: 36px;
}

.weather-icon {
  width: 110px;
}

.temperature {
  font-size: 48px;
  margin: 10px 0;
  font-size: 70px;
  font-weight: 700;
}

.description {
  font-size: 22px;
  text-transform: capitalize;
  opacity: 0.9;
}

.weather-details p {
  margin: 6px 0;
  font-size: 16px;
}

.error {
  color: #ff6b6b;
  margin-top: 10px;
}
